<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="30px grid">
      
        <div [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Time Table</mat-card-title>
          </mat-card-header>
          <!-- <img mat-card-image src="./../assets/images/mountains.jpg"> -->
          <mat-card-content>
            <p>Today's Time Table</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Exam Schedule</mat-card-title>
          </mat-card-header>
          <!-- <img mat-card-image src="./../assets/images/mountains.jpg"> -->
          <mat-card-content>
            <p>Today's Schedule</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Attendence</mat-card-title>
          </mat-card-header>
          <!-- <img mat-card-image src="./../assets/images/mountains.jpg"> -->
          <mat-card-content>
            <p>Today's Schedule</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      
      <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Notifications</mat-card-title>
          </mat-card-header>
          <!-- <img mat-card-image src="./../assets/images/mountains.jpg"> -->
          <mat-card-content>
            <p>Leave Available: 10</p>
            <p>Leave Taken: 10</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Syllabus</mat-card-title>
          </mat-card-header>
          <!-- <img mat-card-image src="./../assets/images/mountains.jpg"> -->
          <mat-card-content>
            <p>SY : 341</p>
            <p>TY : 234</p>
            <p>LY : 234</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      
      <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Meeting Schedule</mat-card-title>
          </mat-card-header>
          <!-- <img mat-card-image src="./../assets/images/mountains.jpg"> -->
          <mat-card-content>
            <p>From: HOD Subject: XYZ</p>
            <p>From: Dean Subject: XYZ</p>
            <p>From: VC Subject: XYZ</p>

          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      
      <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Leave</mat-card-title>
          </mat-card-header>
          <!-- <img mat-card-image src="./../assets/images/mountains.jpg"> -->
          <mat-card-content>
            <p>FY</p>
            <p>SY</p>
            <p>TY</p>
            <p>LY</p>

          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      
      <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Result</mat-card-title>
          </mat-card-header>
          <!-- <img mat-card-image src="./../assets/images/mountains.jpg"> -->
          <mat-card-content>

            <p>SY DBMS THEORY</p>
            <p>SY DBMS LAB B1, B2, B2</p>
            <p>TY CN THEORY</p>
            
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      

    </div>
</div>