<div mat-dialog-title>
    <h1 style="margin: 0px;">{{data.action | titlecase}} New Yearly Programme Data</h1>
    <h4 *ngIf="data.action == 'edit'">{{data.name}}</h4>
    <h4 *ngIf="data.action == 'add'">{{data.type}}: {{data.name}}</h4>
</div>

<div mat-dialog-content class="mat-typography" style="padding-bottom: 10px;">
    <mat-form-field cdkFocusInitial appearance="outline">
        <mat-label>Sanctioned Intake</mat-label>
        <input matInput [(ngModel)]="data.SanctionedIntake">
    </mat-form-field>
    <br>
    <mat-form-field cdkFocusInitial appearance="outline">
        <mat-label>Total Admitted Students</mat-label>
        <input matInput [(ngModel)]="data.TotalAdmittedStudents">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Duration (Years)</mat-label>
        <input matInput mask="0" [(ngModel)]="data.duration">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Fees</mat-label>
        <input type="number" matInput [(ngModel)]="data.Fees">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Academic Year</mat-label>
        <input matInput [(ngModel)]="data.AcademicYear">
    </mat-form-field>
    <br>
</div>

<div mat-dialog-actions style="float: right">
    <button mat-button color="warn" (click)="onNoClick()"> <b>CANCEL</b> </button>

    <button *ngIf="data.action == 'edit'" mat-button color="primary" [mat-dialog-close]="data">
        <b>SAVE</b>
    </button>
    <button *ngIf="data.action == 'add'" mat-button color="primary" [mat-dialog-close]="data">
        <b>ADD</b>
    </button>
</div>