<div class="example-container" style="background-color: white;">
    <mat-toolbar style="background-color: white;">
        <img *ngIf="(orientation | async)!" src="/assets/logo.png"
            style="background-color: white; height: 40px; z-index: 100; margin-left: 10px; margin-left: 10px; margin-right: 10px;">

        <img *ngIf="!(orientation | async)!" src="/assets/mobileLogo.png"
            style="background-color: white; height: 40px; z-index: 100; margin-left: 10px; margin-left: 10px; margin-right: 10px;">

        <span>VU - ERP</span>
    </mat-toolbar>
    <img src="/assets/vuStrip.png" style="width: 100%;">

    <mat-grid-list cols="1" rowHeight="100%">
        <mat-grid-tile>
            <mat-card class="mat-elevation-z10">
                <form [formGroup]="ResetForm" class="login-form" #loginForm="ngForm">
                    <table class="example-full-width" cellspacing="10">
                        <tr>
                            <td>
                                <mat-label><b>RESET PASSWORD</b></mat-label>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <mat-form-field appearance="outline">
                                    <mat-label>Username</mat-label>
                                    <input matInput placeholder="" id="userName" formControlName="userName" required>
                                    <mat-icon fontSet="material-icons-sharp" matSuffix>person</mat-icon>
                                    <mat-hint></mat-hint>
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr *ngIf="toggleOn">
                            <td align="center">
                                <mat-form-field appearance="outline">
                                    <mat-label>OTP <i *ngIf="timerClockBS.value!=''">Expires in:
                                            0{{timerClockBS.value}}</i></mat-label>
                                    <input maxlength="6" matInput placeholder="" name="otp" id="otp"
                                        formControlName="otp" required>
                                    <mat-icon fontSet="material-icons-outlined" matSuffix>pin</mat-icon>
                                    <mat-hint></mat-hint>
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr *ngIf="toggleOn">
                            <td align="center">
                                <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'"
                                        id="password" required>
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon fontSet="material-icons-outlined">{{hide ? 'visibility_off'
                                            : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-hint></mat-hint>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr *ngIf="toggleOn">
                            <td align="center">
                                <mat-form-field appearance="outline">
                                    <mat-label>Re-enter Password</mat-label>
                                    <input formControlName="passwordAgain" (keypress)="ResetOnEnter($event)" matInput
                                        [type]="hide ? 'password' : 'text'" id="passwordAgain" required>
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon fontSet="material-icons-outlined">{{hide ? 'visibility_off'
                                            : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-hint></mat-hint>
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td *ngIf="!toggleOn; else elseBlock" align="center">
                                <button id="OTPButton" (click)="otp()" [disabled]="!ResetForm.valid" mat-raised-button
                                    color="primary">Request OTP
                                    <mat-icon fontSet="material-icons-outlined">pin</mat-icon>
                                </button>
                            </td>

                            <ng-template #elseBlock>
                                <td align="center">
                                    <button id="ResetButton" (click)="reset()" [disabled]="!ResetForm.valid"
                                        mat-raised-button color="primary">Reset
                                        Password
                                        <mat-icon fontSet="material-icons-outlined">password</mat-icon>
                                    </button>
                                </td>
                            </ng-template>

                        </tr>
                        <tr>
                            <button (click)="goBackToPassword()" id="goBackToPassword" mat-button color="accent">Back to
                                Login</button>
                        </tr>
                    </table>
                </form>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>